# Local .terraform directories.::wq!:
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform*
*.terraform/*
*/.terraform/*

## Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
